.marquee-text-slider-3 {
    background-color: $gt-bg-color;
    
    
   &.style-11 {
        background-color: transparent;
        padding: 0;
        margin-top: 50px;
        position: relative;
        margin-left: 50px;

        @include breakpoint (max-xl) {
            margin-left: 0;
        }
        
        .marquee-text-3 {
            @include flex;
            background-color: $gt-white;
            border: 1px solid rgba(0, 0, 0, 0.20);
            padding: 15px 20px;
            line-height: 1;
            border-radius: 100px;

            &.bg-cover {
                position: relative;
                overflow: hidden;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background-image: url('../../assets/img/home-1/marque/bg-image.png');
                    background-size: cover;
                    background-position: center;
                    opacity: 0;
                    @include transition;
                    z-index: -1;
                }
            }
            
            .text-marquee {
                font-size: 16px;
                font-weight: 600;
                color: $gt-header-color;
                @include transition;
            }

            &:hover {
                .text-marquee {
                    color: $gt-white;
                }

                &.bg-cover {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
   }

   &.style-12 {
    background-color: transparent;
    padding-top: 30px;
    margin-top: 0;
    margin-right: 50px;
    padding-bottom: 30px;

    @include breakpoint (max-xl){
        padding-bottom: 100px;
        margin-right: 0;
    }

    @include breakpoint (max-lg){
        padding-bottom: 80px;
    }

    .marquee-text-3 {
        @include flex;
        background-color: $gt-white;
        border: 1px solid rgba(0, 0, 0, 0.20);
        padding: 15px 20px;
        line-height: 1;
        border-radius: 100px;
    
        &.bg-cover {
            position: relative;
            overflow: hidden;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-image: url('../../assets/img/home-1/marque/bg-image.png');
                background-size: cover;
                background-position: center;
                opacity: 0;
                @include transition;
                z-index: -1;
            }
        }
        
        .text-marquee {
            font-size: 16px;
            font-weight: 600;
            color: $gt-header-color;
            @include transition;
        }

        &:hover {
            .text-marquee {
                color: $gt-white;
            }

            &.bg-cover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

}

.gt-marque-section {
    position: relative;

    .overlay-shape {
        position: absolute;
        left: 0;
        top: 288px;
        z-index: 999;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .overlay-shape-2 {
        position: absolute;
        right: 0;
        top: 288px;
        z-index: 999;

        @include breakpoint (max-xl) {
            display: none;
        }
    }
}

.scrolling-wrap {
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	gap: 40px;
    padding: 50px 0 0;
    position: relative;
    z-index: 999;

    &.gt-style-3 {
        padding: 7px 0 0;
    }

    &.gt-style-inner {
       padding: 7px 0 0;
    }

	.comm {
		display: flex;
		align-items: center;
		animation: scroll 60s linear infinite;
		gap: 20px;
		cursor: pointer;

		.cmn-textslide {
			font-size: 96px;
			font-weight: 800;
			line-height: 70px;
			text-transform: uppercase;
            font-family: $gt-heading-font;
            @include flex;
            gap: 30px;
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #2ADDC8;
            @include transition;
        

            &:hover {
                color: $gt-header-color;
                -webkit-text-stroke-color: transparent;
            }
		}
	}

	&:hover {
		.comm {
			animation-play-state: paused;
		}
	}

	@include breakpoint (max-xxl) {
		.comm {
			gap: 20px;
		}
	}

	@include breakpoint (max-lg) {
		gap: 14px;
		.comm {
			gap: 14px;
		}
	}

	@include breakpoint (max-sm) {
		.comm {
			gap: 12px;
		}
	}
}


.mycustom-marque-4 {

    .scrolling-wrap-4 {
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        gap: 40px;
        position: relative;
        z-index: 999;

        .comm {
            display: flex;
            align-items: center;
            animation: scroll 60s linear infinite;
            gap: 60px;
            cursor: pointer;

            .cmn-textslide {
                font-size: 150px;
                font-weight: 400;
                line-height: 130px;
                text-transform: uppercase;
                @include flex;
                gap: 60px;
                color: $gt-theme-color-4;
                font-family: $gt-heading-font-2;

                
                 @include breakpoint (max-xl) {
                    font-size: 120px;
                    line-height: 90px;
                }

                 @include breakpoint (max-lg) {
                    font-size: 100px;
                    line-height: 90px;
                }

                @include breakpoint (max-md) {
                    font-size: 70px;
                    line-height: 90px;
                }

                i {
                    font-size: 42px;
                    color: $gt-white;
                }
            }
        }

        &:hover {
            .comm {
                animation-play-state: paused;
            }
        }

        @include breakpoint (max-xxl) {
            .comm {
                gap: 20px;
            }
        }

        @include breakpoint (max-lg) {
            gap: 14px;
            .comm {
                gap: 14px;
            }
        }

        @include breakpoint (max-sm) {
            .comm {
                gap: 12px;
            }
        }
    }
}