
//>>>>> Section Title Start <<<<<//

.gt-section-title {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;

	@include breakpoint (max-md){
		margin-bottom: 0;
	}

	.gt-sub-title {
		font-size: 16px;
		font-weight: 600;
		color: $gt-theme-color;
		font-family: $gt-body-font;
		margin-bottom: 25px;
		text-transform: capitalize;
		border-radius: 100px;
		background: rgba(21, 57, 238, 0.10);
		padding: 10px 24px;
		line-height: 1;
		display: inline-block;

		&.gt-style-4 {
			color: $gt-theme-color-3;
			padding: 0;
			padding-left: 0;
			padding-right: 0;
			background-color: transparent;
			margin-bottom: 15px;
		}

		&.gt-style-5 {
			font-family: $gt-heading-font-2;
			color: $gt-theme-color-4;
			padding: 0;
			padding-left: 0;
			padding-right: 0;
			background-color: transparent;
			margin-bottom: 15px;
			letter-spacing: 1.3px;
            font-size: 18px;
		}

		&.gt-bg {
			background: rgba(255, 255, 255, 0.10);
		}
	}

	&.style-5 {
		h2 {
			font-family: $gt-heading-font-3;
		}
	}
}

.gt-section-title-2 {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;

	@include breakpoint (max-md){
		margin-bottom: 0;
	}

	.gt-sub-title {
		font-size: 16px;
		font-weight: 700;
		color: #7A73D1;
		font-family: $gt-body-font;
		margin-bottom: 25px;
		text-transform: capitalize;
		line-height: 1;
		padding-left: 60px;
		padding-right: 60px;
		position: relative;
		text-transform: uppercase;

		&.style-3 {
			position: relative;

			&:before {
				position: absolute;
				content: "";
				width: 30px;
				height: 4px;
				left: 0;
				top: 10px;
				background-color: $gt-theme-color-2;
				border-radius: 100px;
			}

			
			&::after {
				position: absolute;
				content: "";
				width: 10px;
				height: 4px;
				left: 38px;
				top: 10px;
				background-color: $gt-theme-color-2;
				border-radius: 100px;
			}

			.right-small-border {
				position: absolute;
				content: "";
				width: 10px;
				height: 4px;
				right: 38px;
				top: 10px;
				background-color: $gt-theme-color-2;
				border-radius: 100px;
			}

			
			.right-large-border {
				position: absolute;
				content: "";
				width: 30px;
				height: 4px;
				right: 0;
				top: 10px;
				background-color: $gt-theme-color-2;
				border-radius: 100px;
			}
		}

		&.gt-style-2 {
			position: relative;

			&:before {
				position: absolute;
				content: "";
				width: 30px;
				height: 4px;
				left: 0;
				top: 10px;
				background-color: $gt-theme-color-2;
				border-radius: 100px;
			}

			&::after {
				position: absolute;
				content: "";
				width: 10px;
				height: 4px;
				left: 38px;
				top: 10px;
				background-color: $gt-theme-color-2;
				border-radius: 100px;
			}

			.right-small-border {
				position: absolute;
				content: "";
				width: 10px;
				height: 4px;
				right: 38px;
				top: 10px;
				background-color: $gt-theme-color-2;
				border-radius: 100px;
			}
			
			.right-large-border {
				position: absolute;
				content: "";
				width: 30px;
				height: 4px;
				right: 0;
				top: 10px;
				background-color: $gt-theme-color-2;
				border-radius: 100px;
	    	}
	    }
    }

	h2 {
		span {
			background: linear-gradient(90deg, #2ADDC8 47.48%, #7A73D1 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.gt-section-title-5 {
	h2 {
		span {
			background: linear-gradient(90deg, #90F 27.17%, #FF1ABC 80.06%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-family: $gt-heading-font-3;
		}
	}
}

.gt-section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;
	margin-bottom: 30px;

	.gt-section-title-2 {
		margin-bottom: 0;
	}
	
	.gt-section-title {
		margin-bottom: 0;
	}
	
	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}

	@include breakpoint (max-md){
		margin-bottom: 0;
	}

	.rating {
		span {
			font-size: 14px;
			font-weight: 400;
			color: rgba(136, 136, 136, 1);
		}

		.star {
			margin-top: 5px;
			color: rgba(255, 8, 8, 1);
		}
	}

	.nav {
		@include flex;
		gap: 40px;
		
		.nav-item {
			.nav-link {
				font-size: 18px;
				font-weight: 700;
				color: #ABABAB;
				padding: 0;

				&.active {
					color: $gt-theme-color;
				}
			}
		}
	}

	.gt-nav {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        justify-content: center;
        position: relative;

        @include breakpoint (max-lg) {
            flex-wrap: wrap;
            gap: 20px;
            border: 1px none;
        }
    
        li{
          
           .nav-link{
				@include transition;
				padding: 12px 15px;
				border-radius: 100px;
				background: rgba(77, 85, 204, 0.20);
				line-height: 1;
				color: $gt-header-color;
				font-weight: 600;

				&.active {
					position: relative;
					border-radius: 100px;
					background: linear-gradient(90deg, #1539EE 0%, #90F 100%);
					color: $gt-white;
				}
		    }
		}
	}
}
//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $gt-bg-color-2;
}

.section-bg-1 {
	background-color: $gt-bg-color;
}

.text-bg {
	background-color: $gt-text-color;
}

.black-bg {
	background-color: $gt-black;
}
.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}
//>>>>> Basic Css End <<<<<//

