.gt-service-wrapper {

    .gt-service-content {

        .gt-text {
            color: $gt-text-color-2;
            margin-top: 30px;
        }

        .gt-service-count {
            @include flex;
            justify-content: space-between;
            margin-top: 30px;
            padding: 30px 0;
            border-top: 1px solid rgba(0, 0, 0, 0.20);
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);
            margin-bottom: 50px;

            @include breakpoint (max-xl) {
                flex-wrap: wrap;
                gap: 30px;
            }

            .gt-service-item {
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: $gt-header-color;
                }
            }
        }

        .gt-theme-btn {
            &.gt-theme-btn-2 {
                position: relative;
                z-index: 999;
            }
        }

        .gt-man-image {
            margin-top: -60px;
            text-align: right;
            margin-bottom: -35px;

            @include breakpoint (max-xxxl) {
                left: 18%;
            }

            @include breakpoint (max-xl) {
                display: none;
            }
        }
    }

     .gt-service-item {
        border-radius: 10px;
        background: $gt-white;
        box-shadow: 0px 0px 200px 0px rgba(33, 28, 132, 0.10);
        padding: 50px;
   

        @include breakpoint (max-xl) {
            padding: 30px;
             margin-bottom: 100px;
        }

         @include breakpoint (max-lg) {
            margin-bottom: 80px;
        }

        &.gt-style-2 {
            position: relative;
            border-radius: 10px;
            background: linear-gradient(90deg, #1539EE 0%, #90F 100%);
            z-index: 9;

            .gt-bg-shape {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;

                img {
                    @include imgw;
                }
            }

            .accordion-item {
                background-color: transparent;

                .accordion-header {
                    .accordion-button {
                        background-color: transparent;
                        color: $gt-white;

                        &::after {
                         color: $gt-white;
                      }

                    &:not(.collapsed)::after {
                       color: $gt-white;
                    }

                        &.collapsed {
                            background-color: transparent;
                            color: $gt-white;
                            border-bottom: 1px solid $gt-white;
                            margin-bottom: 30px;
                            padding-bottom: 25px;
                        }
                    }
                }

                .accordion-collapse {
                    transition: height 0.3s ease !important;
                 
                    .accordion-body {
                        background-color: transparent;
                        color: $gt-white;
                        transition: all 0.3s ease;
                    }
                }
            }
        }

        .accordion-item {
            border: 0;
            background-color: $gt-white;
          
        
            .accordion-header { 
                .accordion-button { 
                    font-weight: 700;
                    color: $gt-theme-color-2;
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    background-color: $gt-white;
                    padding: 25px 30px 0;
                    text-transform: capitalize;
                    font-size: 24px;
                    border: none;
                    padding: 0 0 0;

                    @include breakpoint (max-xl) {
                        font-size: 20px;
                    }

                    span {
                        font-size: 24px;
                        font-weight: 300;
                        color: #D8CEF0;

                         @include breakpoint (max-xl) {
                           font-size: 18px;
                       }
                    }
    
                    &::after {
                        content: "\f078";
                        font-family: $fa;
                        background: transparent;
                        font-weight: 500;
                        transition: all 0.3s ease-in-out !important;
                        color: $gt-theme-color-2;
                    }

                    &:not(.collapsed)::after {
                        content: "\f077";
                        font-family: $fa;
                        background: transparent;
                        font-weight: 500;
                        color: $gt-theme-color-2;
                        transform: rotate(0);
                    }
    
                    &.collapsed {
                        background-color: $gt-white;
                        padding-bottom: 40px;
                        margin-bottom: 40px;
                        color: $gt-header-color;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
                    }

                    &.gt-style-2 {
                        margin-bottom: 0;
                        border-bottom: 1px none;
                        padding-bottom: 0;
                    }
                }
            }
        
            .accordion-collapse { 
    
                .accordion-body {
                    padding-right: 0;
                    padding-left: 0;
                    padding-top: 15px;
                    color: $gt-text-color-2;
                    background-color: $gt-white;
                    font-weight: 400;
                    

                    .thumb {
                      margin-top: 30px;

                    img {
                        @include imgw;
                        border-radius: 10px;
                    }
                  }
                }
            }
        }
    }

    .gt-service-dark-box {
        background-color: $gt-white;
        padding: 40px 60px 0;
        position: relative;
        z-index: 9;
        border-radius: 10px;

        @include breakpoint (max-lg) {
            padding: 50px;
        }


        @include breakpoint (max-md) {
            padding: 40px;
        }

        @include breakpoint (max-sm) {
            padding: 30px;
        }

        .gt-shape {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;

            img {
                @include imgw;
            }
        }

        h6 {
            color: $gt-theme-color;
        }
        .gt-service-image {
            margin-top: 30px;
            max-width: 525px;

            img {
                @include imgw;
            }
        }
    }
}

.gt-service-section {
    position: relative;

    .gt-star-shape {
        position: absolute;
        left: 100px;
        bottom: 170px;

        @include breakpoint (max-xl) {
            display: none;
        }
    }
}

.gt-service-section-3 {
    position: relative;
    
    @include breakpoint (max-xl) {
        overflow: hidden;
    }

    .gt-circle-shape {
        position: absolute;
        top: 20%;
        left: 4%;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .gt-top-shape {
        position: absolute;
        left: 0;
        right: 0;
        top: -13%;

         img {
            @include imgw;
        }

        @include breakpoint (max-xl) {
            display: none;
        }
    }
}

.gt-service-details-wrapper {

    .gt-service-details-post {

        .gt-service-details-image {
            margin-bottom: 15px;

            img {
                @include imgw;
                border-radius: 24px;
            }
        }

        .gt-service-details-content {

            h2 {
                font-size: 48px;
                margin-bottom: 10px;

                 @include breakpoint (max-xl) {
                  font-size: 40px;
                }

                @include breakpoint (max-lg) {
                    font-size: 35px;
                }

                @include breakpoint (max-md) {
                    font-size: 30px;
                }

                @include breakpoint (max-sm) {
                    font-size: 25px;
                }
            }

            .gt-text {
                font-size: 32px;
                margin-bottom: 30px;

                @include breakpoint (max-xl) {
                  font-size: 20px;
                }
            }

            .gt-list-item {
                margin-bottom: 24px;

                h4 {
                    margin-bottom: 20px;
                }

                h3 {
                    margin-bottom: 20px;
                }

                .gt-list {

                    li {
                        font-size: 16px;
                        font-weight: 400;
                        color: $gt-header-color;

                         @include breakpoint (max-lg) {
                           font-size: 14px;
                        }

                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }

                        i {
                            margin-right: 10px;
                            color: $gt-theme-color-2;
                        }
                    }
                }
            }

            .gt-thumb {
                margin-bottom: 30px;

                img {
                    @include imgw;
                    border-radius: 16px;
                }
            }

            .faq-items {
                h3 {
                    margin-bottom: 30px;
                }
                .accordion-item {
                    border: 0;
                    background: $gt-white;
                    box-shadow: 0px 4px 60px 0px rgba(21, 57, 238, 0.10);
                    border-radius: 12px;
                
                    .accordion-header { 
                        border: none;

                        .accordion-button { 
                            font-weight: 600;
                            color: $gt-header-color;
                            border: 0;
                            background: $gt-white;
                            box-shadow: none;
                            padding: 25px 30px 0;
                            text-transform: capitalize;
                            font-size: 20px;
                            outline: line;
                        
                            @include breakpoint(max-xl) {
                                font-size: 18px;
                            }
                
                            &::after {
                                content: "\f054";
                                background: transparent;
                                font-family: $fa;
                                font-weight: 300;
                                transition: all 0.3s ease-in-out !important;
                                color: $gt-theme-color-2;
                            }
                            &:not(.collapsed)::after {
                                content: "\f078";
                                background: transparent;
                                font-family: $fa;
                                font-weight: 300;
                                transform: rotate(0);
                                color: $gt-theme-color-2;
                            }
                
                            &.collapsed {
                                background-color: transparent;
                                padding: 25px 30px;
                                color: $gt-header-color;
                            }
                        
                        }
                    }
                
                    .accordion-collapse { 
                
                        .accordion-body {
                            padding-left: 30px;
                            padding-top: 15px;
                            color: $gt-header-color;
                            background-color: $gt-white;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
    }

    .gt-service-main-sideber {
        
        .gt-service-sideber-widget {
            border-radius: 16px;
            background: $gt-white;
            box-shadow: 0px 4px 60px 0px rgba(21, 57, 238, 0.10);
            padding: 30px;
            text-align: center;
            margin-bottom: 30px;

            .gt-widget-title {
                border-bottom: 1.5px solid rgba(0, 0, 0, 0.08);
                padding-bottom: 16px;
                margin-bottom: 30px;

            h3 {
                font-size: 32px;

                @include breakpoint (max-xl) {
                    font-size: 25px;
                }

                @include breakpoint (max-sm) {
                    font-size: 20px;
                }
             }

             .text {
                font-weight: 800;
                font-size: 24px;

                @include breakpoint (max-sm) {
                    font-size: 20px;
                }
             }
           }

           ul {
             li {
                @include flex;
                justify-content: space-between;
                font-size: 16px;
                font-weight: 400;
                color: $gt-header-color;
                @include transition;
                border-radius: 0;

                a {
                    color: $gt-header-color;
                }

                i {
                    @include transition;
                    color: $gt-theme-color-2;
                }

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                &:hover {
                    
                    a {
                        color: $gt-theme-color;
                    }

                    i {
                        color: $gt-theme-color-2;
                    }
                }
            }
          }

          .client-image {
             margin-bottom: 10px;

            img {
                border-radius: 100%;
            }
          }

          h6 {
            font-weight: 400;
            margin-top: 10px;

            span {
                color: #4D55CC;
            }
          }

          .button-text {
              margin-top: 15px;
              margin-bottom: 24px;
              display: inline-block;

                .video-btn {
                    color: #4D55CC;
                    font-size: 18px;
                }
                span {
                    font-size: 14px;
                    color: $gt-header-color;
                    font-weight: 400;
                }
            }

          p {
            color: $gt-header-color;
            max-width: 356px;
            margin: 0 auto;
          }

          .gt-social-icon {
                gap: 15px;
                margin-top: 40px;
                justify-content: center;

                 @include breakpoint (max-xl) {
                    margin-top: 30px;
                }
        
                a {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: $gt-white;
                    border: 1px solid rgba(0, 0, 0, 0.08);
                    border-radius: 100%;
                    color: $gt-theme-color;
                    @include transition;
        
                    &:hover {
                       background: linear-gradient(180deg, #1539EE 0%, #2ADDC8 100%);
                       color: $gt-white;
                       border: 1px solid none;
                    }
                }
            }

            &.gt-style-2 {
                text-align: left;

                .gt-dwonload-item {
                    display: flex;
                    gap: 24px;

                     @include breakpoint (max-xl) {
                       flex-wrap: wrap;
                       gap: 20px;
                   }

                .gt-down-content {
                    p {
                        color: $gt-header-color;
                        margin-bottom: 15px;

                    }

                    h6 {
                        a {
                            color: $gt-theme-color;
                        }
                    }
                }
              }
            }
        }
    }
}

